.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-right: 10px;

  &-body {
    flex: 1;

    & p {
      margin: 0;
      padding: 0;
    }

    & > img {
      border-radius: 20px;
      width: 100%;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  &-headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
  }

  &-headerText > h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }

  &-badge {
    font-size: 14px !important;
    color: var(--twitter-color);
  }

  &-header-Special {
    font-weight: 600;
    font-size: 12px;
    color: grey;
  }

  &-avatar {
    padding: 15px;
  }
}
